In [1]:
import pandas as pd
import numpy as np
import requests
import json

from pprint import pprint
from pybea.client import BureauEconomicAnalysisClient
import datapungibea as dpb
import pprint

#Matplotlib
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.lines as mlines
from matplotlib import style
style.use(['classic','dark_background'])

# pip install feedparser

# pip install datapungibea
# pip install python-bea

key='877C205C-C78D-4A39-8C4E-E36B818F3C33'

# Initalize the new Client.
bea_client = BureauEconomicAnalysisClient(api_key=f'{key}')

In [2]:
# UnderlyingGDPbyIndustry -Underlying Detail estimates of value added, gross output, and intermediate inputs by industry.
# InputOutput	-Make and use tables, direct requirements, and total requirements statistics.
# Regional 	-Detailed income and employment statistics by state, county, and metropolitan area. Detailed GDP statistics by state and metropolitan statistical area. Price parities statistics by state and MSA.

# NIPA	-NIPA tables with options.
# https://apps.bea.gov/iTable/iTable.cfm?ReqID=19&step=4&isuri=1&1921=flatfiles&3Place=Y#reqid=19&step=4&isuri=1&1921=flatfiles

# NIUnderlyingDetail	-NI Underlying Detail tables with options.
# FixedAssets	-Fixed Assets tables with options
# ITA	-International Transactions dataset by indicator, area or country, frequency, and year
# IntlServTrade  -International Services Trade dataset by type of service, trade direction, affiliation, area or country, and year
# IIP	-International Investment Position dataset by type of investment, component, frequency, and year
# GDPByIndustry	 -Estimates of value added, gross output, intermediate inputs, KLEMS, and employment statistics by industry
# MNE	-Direct Investment by direction of investment, series, classification, year, country, and industry; and activities of Multinational Enterprises (MNE) by direction of investment, ownership, bank/non-bank, series, classification, year, country, industry, and state.

In [3]:
# Per capita personal income (dollars)
url=f'https://apps.bea.gov/api/data/?&UserID={key}&method=GetData&datasetname=Regional&TableName=SAINC1&GeoFIPS=STATE&LineCode=3&Year=2018,2019&ResultFormat=JSON'                           
r=requests.get(url)
d=json.loads(r.text)
eighteen=[item for item in d['BEAAPI']['Results']['Data'] if item['TimePeriod']=='2018']
nineteen=[item for item in d['BEAAPI']['Results']['Data'] if item['TimePeriod']=='2019']
nineteen_df=pd.DataFrame(nineteen)
nineteen_df

,Code,GeoFips,GeoName,TimePeriod,CL_UNIT,UNIT_MULT,DataValue,NoteRef
0,SAINC1-3,00000,United States,2019,Dollars,0,"56,490",NaN
1,SAINC1-3,01000,Alabama,2019,Dollars,0,"44,145",NaN
2,SAINC1-3,02000,Alaska *,2019,Dollars,0,"62,806",*
3,SAINC1-3,04000,Arizona,2019,Dollars,0,"46,058",NaN
4,SAINC1-3,05000,Arkansas,2019,Dollars,0,"44,629",NaN
5,SAINC1-3,06000,California,2019,Dollars,0,"66,619",NaN
6,SAINC1-3,08000,Colorado,2019,Dollars,0,"61,157",NaN
7,SAINC1-3,09000,Connecticut,2019,Dollars,0,"77,289",NaN
8,SAINC1-3,10000,Delaware,2019,Dollars,0,"54,485",NaN
9,SAINC1-3,11000,District of Columbia,2019,Dollars,0,"83,406",NaN
10,SAINC1-3,12000,Florida,2019,Dollars,0,"52,426",NaN
11,SAINC1-3,13000,Georgia,2019,Dollars,0,"48,236",NaN
12,SAINC1-3,15000,Hawaii *,2019,Dollars,0,"57,015",*
13,SAINC1-3,16000,Idaho,2019,Dollars,0,"45,968",NaN
14,SAINC1-3,17000,Illinois,2019,Dollars,0,"58,764",NaN
15,SAINC1-3,18000,Indiana,2019,Dollars,0,"48,678",NaN
16,SAINC1-3,19000,Iowa,2019,Dollars,0,"51,865",NaN
17,SAINC1-3,20000,Kansas,2019,Dollars,0,"53,426",NaN
18,SAINC1-3,21000,Kentucky,2019,Dollars,0,"43,770",NaN
19,SAINC1-3,22000,Louisiana,2019,Dollars,0,"47,460",NaN
20,SAINC1-3,23000,Maine,2019,Dollars,0,"50,634",NaN
21,SAINC1-3,24000,Maryland,2019,Dollars,0,"64,640",NaN
22,SAINC1-3,25000,Massachusetts,2019,Dollars,0,"74,187",NaN
23,SAINC1-3,26000,Michigan,2019,Dollars,0,"49,228",NaN
24,SAINC1-3,27000,Minnesota,2019,Dollars,0,"58,834",NaN
25,SAINC1-3,28000,Mississippi,2019,Dollars,0,"38,914",NaN
26,SAINC1-3,29000,Missouri,2019,Dollars,0,"48,656",NaN
27,SAINC1-3,30000,Montana,2019,Dollars,0,"49,747",NaN
28,SAINC1-3,31000,Nebraska,2019,Dollars,0,"54,515",NaN
29,SAINC1-3,32000,Nevada,2019,Dollars,0,"51,161",NaN
30,SAINC1-3,33000,New Hampshire,2019,Dollars,0,"63,502",NaN
31,SAINC1-3,34000,New Jersey,2019,Dollars,0,"70,471",NaN
32,SAINC1-3,35000,New Mexico,2019,Dollars,0,"43,326",NaN
33,SAINC1-3,36000,New York,2019,Dollars,0,"71,717",NaN
34,SAINC1-3,37000,North Carolina,2019,Dollars,0,"47,766",NaN
35,SAINC1-3,38000,North Dakota,2019,Dollars,0,"57,232",NaN
36,SAINC1-3,39000,Ohio,2019,Dollars,0,"50,199",NaN
37,SAINC1-3,40000,Oklahoma,2019,Dollars,0,"47,341",NaN
38,SAINC1-3,41000,Oregon,2019,Dollars,0,"53,191",NaN
39,SAINC1-3,42000,Pennsylvania,2019,Dollars,0,"58,032",NaN
40,SAINC1-3,44000,Rhode Island,2019,Dollars,0,"56,361",NaN
41,SAINC1-3,45000,South Carolina,2019,Dollars,0,"45,438",NaN
42,SAINC1-3,46000,South Dakota,2019,Dollars,0,"53,962",NaN
43,SAINC1-3,47000,Tennessee,2019,Dollars,0,"48,684",NaN
44,SAINC1-3,48000,Texas,2019,Dollars,0,"52,813",NaN
45,SAINC1-3,49000,Utah,2019,Dollars,0,"48,939",NaN
46,SAINC1-3,50000,Vermont,2019,Dollars,0,"55,293",NaN
47,SAINC1-3,51000,Virginia,2019,Dollars,0,"59,657",NaN
48,SAINC1-3,53000,Washington,2019,Dollars,0,"64,758",NaN
49,SAINC1-3,54000,West Virginia,2019,Dollars,0,"42,315",NaN
50,SAINC1-3,55000,Wisconsin,2019,Dollars,0,"53,227",NaN
51,SAINC1-3,56000,Wyoming,2019,Dollars,0,"62,189",NaN
52,SAINC1-3,91000,New England,2019,Dollars,0,"69,754",NaN
53,SAINC1-3,92000,Mideast,2019,Dollars,0,"66,855",NaN
54,SAINC1-3,93000,Great Lakes,2019,Dollars,0,"52,464",NaN
55,SAINC1-3,94000,Plains,2019,Dollars,0,"53,509",NaN
56,SAINC1-3,95000,Southeast,2019,Dollars,0,"49,159",NaN
57,SAINC1-3,96000,Southwest,2019,Dollars,0,"50,670",NaN
58,SAINC1-3,97000,Rocky Mountain,2019,Dollars,0,"54,873",NaN
59,SAINC1-3,98000,Far West,2019,Dollars,0,"64,236",NaN

In [4]:
url=f"https://apps.bea.gov/api/data/?&UserID={key}&method=GetData&DataSetName=NIPA&TableName=T20600&Frequency=M&Year=2015,2016&ResultFormat=JSON"                          
r = requests.get(url)
d = json.loads(r.text) 
NIPA=[item for item in d['BEAAPI']['Results']['Dimensions']]
NIPA_df=pd.DataFrame(NIPA)
NIPA_df

  Ordinal             Name DataType IsValue
0       1        TableName   string       0
1       2       SeriesCode   string       0
2       3       LineNumber  numeric       0
3       4  LineDescription   string       0
4       5       TimePeriod   string       0
5       6          CL_UNIT   string       0
6       7        UNIT_MULT  numeric       0
7       8      METRIC_NAME   string       0
8       9        DataValue  numeric       1

In [5]:
url=f"https://apps.bea.gov/api/data?&UserID={key}&method=GetData&DataSetName=MNE&Year=2018,2019&Country=650,699&DirectionOfInvestment=Outward&Classification=Country&ResultFormat=json"                          
r = requests.get(url)
d = json.loads(r.text) 
Investment_eighteen=[item for item in d['BEAAPI']['Results']['Data'] if item['Year'] == '2018']
Investment_nineteen=[item for item in d['BEAAPI']['Results']['Data'] if item['Year'] == '2019']
Investment_eighteen_df=pd.DataFrame(Investment_eighteen)
Investment_nineteen_df=pd.DataFrame(Investment_nineteen)
Investment_nineteen_df

,Year,SeriesID,SeriesName,Row,ColumnGParent,ColumnParent,Column,RowCode,ColumnCode,ColumnParentCode,ColumnGParentCode,TableScale,DataValueUnformatted,TableColumnDisplayOrder,TableRowDisplayOrder,DataValue
0,2019,33,Debt Instruments Outflows,Asia and Pacific,None,None,Debt Outflows,699,0000,0,0,Millions of Dollars,2194,1.00,64.00,"2,194"
1,2019,32,Equity Outflows Other than Reinvestment of Ear...,Asia and Pacific,None,None,Equity Outflows,699,0000,0,0,Millions of Dollars,2456,1.00,64.00,"2,456"
2,2019,25,Reinvestment of Earnings Without Current-Cost ...,Asia and Pacific,None,None,Reinvestment of Earnings,699,0000,0,0,Millions of Dollars,48720,1.00,64.00,"48,720"
3,2019,33,Debt Instruments Outflows,China,None,None,Debt Outflows,650,0000,0,0,Millions of Dollars,259,1.00,66.00,259
4,2019,32,Equity Outflows Other than Reinvestment of Ear...,China,None,None,Equity Outflows,650,0000,0,0,Millions of Dollars,148,1.00,66.00,148
5,2019,25,Reinvestment of Earnings Without Current-Cost ...,China,None,None,Reinvestment of Earnings,650,0000,0,0,Millions of Dollars,7047,1.00,66.00,"7,047"
6,2019,31,Financial Outflow Transactions Without Current...,Asia and Pacific,None,None,Financial Outflows,699,0000,0,0,Millions of Dollars,53370,1.00,192.00,"53,370"
7,2019,27,Direct Investment Income Without Current-Cost ...,Asia and Pacific,None,None,Income,699,0000,0,0,Millions of Dollars,98589,1.00,192.00,"98,589"
8,2019,30,U.S. Direct Investment Position Abroad on a Hi...,Asia and Pacific,None,None,Position,699,0000,0,0,Millions of Dollars,955361,1.00,192.00,"955,361"
9,2019,31,Financial Outflow Transactions Without Current...,China,None,None,Financial Outflows,650,0000,0,0,Millions of Dollars,7454,1.00,194.00,"7,454"
10,2019,27,Direct Investment Income Without Current-Cost ...,China,None,None,Income,650,0000,0,0,Millions of Dollars,11852,1.00,194.00,"11,852"
11,2019,30,U.S. Direct Investment Position Abroad on a Hi...,China,None,None,Position,650,0000,0,0,Millions of Dollars,116203,1.00,194.00,"116,203"

In [6]:
url='https://apps.bea.gov/api/data'
payload={"UserID": key, 'method':'GETDATASETLIST', 'ResultFormat':'JSON'}
r=requests.get(url, params=payload)
d=r.json()
data=[item for item in d['BEAAPI']['Results']] 
x=pd.DataFrame(d['BEAAPI']['Results']['Dataset'])
x

                DatasetName                    DatasetDescription
0                      NIPA                  Standard NIPA tables
1        NIUnderlyingDetail  Standard NI underlying detail tables
2                       MNE             Multinational Enterprises
3               FixedAssets          Standard Fixed Assets tables
4                       ITA   International Transactions Accounts
5                       IIP     International Investment Position
6               InputOutput                     Input-Output Data
7             IntlServTrade          International Services Trade
8             GDPbyIndustry                       GDP by Industry
9                  Regional                    Regional data sets
10  UnderlyingGDPbyIndustry            Underlying GDP by Industry
11       APIDatasetMetaData     Metadata about other API datasets

In [7]:
d

{'BEAAPI': {'Request': {'RequestParam': [{'ParameterName': 'USERID',
     'ParameterValue': '877C205C-C78D-4A39-8C4E-E36B818F3C33'},
    {'ParameterName': 'METHOD', 'ParameterValue': 'GETDATASETLIST'},
    {'ParameterName': 'RESULTFORMAT', 'ParameterValue': 'JSON'}]},
  'Results': {'Dataset': [{'DatasetName': 'NIPA',
     'DatasetDescription': 'Standard NIPA tables'},
    {'DatasetName': 'NIUnderlyingDetail',
     'DatasetDescription': 'Standard NI underlying detail tables'},
    {'DatasetName': 'MNE', 'DatasetDescription': 'Multinational Enterprises'},
    {'DatasetName': 'FixedAssets',
     'DatasetDescription': 'Standard Fixed Assets tables'},
    {'DatasetName': 'ITA',
     'DatasetDescription': 'International Transactions Accounts'},
    {'DatasetName': 'IIP',
     'DatasetDescription': 'International Investment Position'},
    {'DatasetName': 'InputOutput', 'DatasetDescription': 'Input-Output Data'},
    {'DatasetName': 'IntlServTrade',
     'DatasetDescription': 'International Services Trade'},
    {'DatasetName': 'GDPbyIndustry', 'DatasetDescription': 'GDP by Industry'},
    {'DatasetName': 'Regional', 'DatasetDescription': 'Regional data sets'},
    {'DatasetName': 'UnderlyingGDPbyIndustry',
     'DatasetDescription': 'Underlying GDP by Industry'},
    {'DatasetName': 'APIDatasetMetaData',
     'DatasetDescription': 'Metadata about other API datasets'}]}}}

In [8]:
dataset_name='GDPbyIndustry'
payload={'UserID':key, 'method':'getparameterlist',
        'DatasetName':dataset_name, "ResultFormat": 'JSON'}
r=requests.get(url, params=payload)
d=r.json() 
parameters=d['BEAAPI']['Results']['Parameter']
parameters_df=pd.DataFrame(parameters)
parameters_df

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,ParameterDefaultValue,MultipleAcceptedFlag,AllValue
0,Frequency,string,"A - Annual, Q-Quarterly",1,,1,ALL
1,Industry,string,List of industries to retrieve (ALL for All),1,,1,ALL
2,TableID,integer,The unique GDP by Industry table identifier (A...,1,,1,ALL
3,Year,integer,List of year(s) of data to retrieve (ALL for All),1,,1,ALL

In [9]:
payload={"UserID":key, "method":"getparametervalaues",
        "DatasetName": dataset_name, "ParameterName": "TableID",
        "ResultFormat":"JSON"}
r=requests.get(url, params=payload)
d=r.json() 
d

{'BEAAPI': {'Request': {'RequestParam': [{'ParameterName': 'METHOD',
     'ParameterValue': 'GETPARAMETERVALAUES'},
    {'ParameterName': 'DATASETNAME', 'ParameterValue': 'GDPBYINDUSTRY'},
    {'ParameterName': 'RESULTFORMAT', 'ParameterValue': 'JSON'},
    {'ParameterName': 'USERID',
     'ParameterValue': '877C205C-C78D-4A39-8C4E-E36B818F3C33'},
    {'ParameterName': 'PARAMETERNAME', 'ParameterValue': 'TABLEID'}]},
  'Results': {'Error': {'APIErrorCode': '11',
    'APIErrorDescription': 'The Method requested does not exist - valid choices are GetDatasetList, GetParameterList, GetParameterValues, and GetData'}}}}

In [10]:
url=f'https://apps.bea.gov/api/data/?&UserID={key}&method=GetData&DataSetName=NIPA&TableName=T10101&Frequency=A,Q&Year=ALL&ResultFormat=JSON'
r=requests.get(url, params=payload)
resp=r.json()
resp

{'BEAAPI': {'Request': {'RequestParam': [{'ParameterName': 'PARAMETERNAME',
     'ParameterValue': 'TABLEID'},
    {'ParameterName': 'FREQUENCY', 'ParameterValue': 'A,Q'},
    {'ParameterName': 'USERID',
     'ParameterValue': '877C205C-C78D-4A39-8C4E-E36B818F3C33,877C205C-C78D-4A39-8C4E-E36B818F3C33'},
    {'ParameterName': 'RESULTFORMAT', 'ParameterValue': 'JSON,JSON'},
    {'ParameterName': 'YEAR', 'ParameterValue': 'ALL'},
    {'ParameterName': 'DATASETNAME', 'ParameterValue': 'NIPA,GDPBYINDUSTRY'},
    {'ParameterName': 'METHOD',
     'ParameterValue': 'GETDATA,GETPARAMETERVALAUES'},
    {'ParameterName': 'TABLENAME', 'ParameterValue': 'T10101'}]},
  'Results': {'Error': {'APIErrorCode': '11',
    'APIErrorDescription': 'The Method requested does not exist - valid choices are GetDatasetList, GetParameterList, GetParameterValues, and GetData'}}}}

In [11]:
# Percent change in Real Gross Domestic Product
url=f'https://apps.bea.gov/api/data/?&UserID={key}&method=GetData&datasetname=Regional&TableName=CAINC1&LineCode=3&GeoFIPS=DE&Year=2014&ResultFormat=JSON'                           
r=requests.get(url)
d=json.loads(r.text)
percent_change=d['BEAAPI']['Results']['Data']
percent_change_df=pd.DataFrame(percent_change)
percent_change_df

       Code GeoFips         GeoName TimePeriod  CL_UNIT UNIT_MULT DataValue
0  CAINC1-3   10000        Delaware       2014  Dollars         0    45,993
1  CAINC1-3   10001        Kent, DE       2014  Dollars         0    37,323
2  CAINC1-3   10003  New Castle, DE       2014  Dollars         0    49,290
3  CAINC1-3   10005      Sussex, DE       2014  Dollars         0    44,428

In [12]:
name='RegionalIncome'
payload={"UserID":key, "method":"GetData",
        "DatasetName": 'RegionalIncome', "ParameterName": "CA1",
        "ResultFormat":"JSON"}
r=requests.get(url, params=payload)
d=json.loads(r.text)
d

{'BEAAPI': {'Request': {'RequestParam': [{'ParameterName': 'GEOFIPS',
     'ParameterValue': 'DE'},
    {'ParameterName': 'LINECODE', 'ParameterValue': '3'},
    {'ParameterName': 'USERID',
     'ParameterValue': '877C205C-C78D-4A39-8C4E-E36B818F3C33,877C205C-C78D-4A39-8C4E-E36B818F3C33'},
    {'ParameterName': 'METHOD', 'ParameterValue': 'GETDATA,GETDATA'},
    {'ParameterName': 'DATASETNAME',
     'ParameterValue': 'REGIONAL,REGIONALINCOME'},
    {'ParameterName': 'TABLENAME', 'ParameterValue': 'CAINC1'},
    {'ParameterName': 'PARAMETERNAME', 'ParameterValue': 'CA1'},
    {'ParameterName': 'RESULTFORMAT', 'ParameterValue': 'JSON,JSON'},
    {'ParameterName': 'YEAR', 'ParameterValue': '2014'}]},
  'Results': {'Error': {'APIErrorCode': '11',
    'APIErrorDescription': 'The Method requested does not exist - valid choices are GetDatasetList, GetParameterList, GetParameterValues, and GetData'}}}}

# NIPA-National Income and Product Accounts (Value and compositon of US production and incomes generated in producing it)

In [13]:
# Percent Change in Real GPD
url=f'https://apps.bea.gov/api/data/?&UserID={key}&method=GetData&datasetname=NIPA&TableName=T10101&Frequency=A,Q&Year=ALL&ResultFormat=JSON'                           
r=requests.get(url)
d=json.loads(r.text)
percent_change_eighteen=[item for item in d['BEAAPI']['Results']['Data'] if item['TimePeriod']=='2018']
percent_change_nineteen=[item for item in d['BEAAPI']['Results']['Data'] if item['TimePeriod']=='2019']
percent_change_nineteen_df=pd.DataFrame(percent_change_nineteen)
percent_change_nineteen_df.head()

,TableName,SeriesCode,LineNumber,LineDescription,TimePeriod,METRIC_NAME,CL_UNIT,UNIT_MULT,DataValue,NoteRef
0,T10101,A191RL,1,Gross domestic product,2019,Fisher Quantity Index,"Percent change, annual rate",0,2.2,T10101
1,T10101,DPCERL,2,Personal consumption expenditures,2019,Fisher Quantity Index,"Percent change, annual rate",0,2.4,T10101
2,T10101,DGDSRL,3,Goods,2019,Fisher Quantity Index,"Percent change, annual rate",0,3.7,T10101
3,T10101,DDURRL,4,Durable goods,2019,Fisher Quantity Index,"Percent change, annual rate",0,4.8,T10101
4,T10101,DNDGRL,5,Nondurable goods,2019,Fisher Quantity Index,"Percent change, annual rate",0,3.1,T10101

In [14]:
# Percent Change in Real GPD
url=f'https://apps.bea.gov/api/data/?&UserID={key}&method=GetData&datasetname=NIPA&TableName=T20600&Frequency=M&Year=2015,2016&ResultFormat=JSON'                      
r=requests.get(url)
d=json.loads(r.text)
percent_read_GDP=[item for item in d['BEAAPI']['Results']['Dimensions']]
percent_read_GDP_df=pd.DataFrame(percent_read_GDP)
percent_read_GDP_df

  Ordinal             Name DataType IsValue
0       1        TableName   string       0
1       2       SeriesCode   string       0
2       3       LineNumber  numeric       0
3       4  LineDescription   string       0
4       5       TimePeriod   string       0
5       6          CL_UNIT   string       0
6       7        UNIT_MULT  numeric       0
7       8      METRIC_NAME   string       0
8       9        DataValue  numeric       1

In [15]:
# Table Parameter - Specific NIPA Table (need combination of TableName, Frequency, Year values)
# TableID Parameter - Discontinued
# Frequency Parameter - Multiple values allowed - "A,Q,M"

# GetParameterValues method and passing TableName 
# Year - "2002, 2003, 2004"

In [16]:
# Stock market as an alternative investment avenue
# https://apps.bea.gov/api/data/?&UserID=Your-36CharacterKey&method=GetData&DataSetName=FixedAssets&TableName=FAAt201&Year=ALL&ResultFormat=xml

# Data on Direct Investment and Multinaational Enterprises (MNEs)
# -Direct investment
# -Activites of Multinamtional Companies-AMNE-US parent enterprises and foreign affilitaes

# US direct invenstment in China and Asia
# url='https://apps.bea.gov/api/data/?&SeriesId=30&UserID= Your-36CharacterKey&method=GetData&DataSetName=MNE&Year=2012,2011&Country=650,699&DirectionOfInvestment=Outward&Classification=Country&ResultFormat=JSON'           

# US Direct investment in US from Germany in manufacturing
# url='https://apps.bea.gov/api/data/?&SeriesId=22,23,24,25,26,27&UserID= Your-36CharacterKey&method=GetData&DataSetName=MNE&Year=2013,2012,2011,2010&Country=308&Industry=3000&DirectionOfInvestment=Inward&Classification=CountryByIndustry&ResultFormat=JSON'         

# AMNE 
#Net Income Brazilian affiliates of US parent enterprises for all industries
# url='https://apps.bea.gov/api/data/?&UserID= Your-36CharacterKey&method=GetData&DataSetName=MNE&Year=2012,2011&Country=202&Industry=all&DirectionOfInvestment=Outward&Classification=CountryByIndustry&SeriesId=5,4&NonBankAffiliatesOnly=0&OwnershipLevel=0&ResultFormat=JSON'         

# Total employment of US affiliates of foreigned own enterprises in all countrtries
# url ='https://apps.bea.gov/api/data/?&UserID= Your-36CharacterKey&method=GetData&DataSetName=MNE&Year=2011&Country=all&Industry=0000&DirectionOfInvestment=Inward&Classification=Country&SeriesId=8&OwnershipLevel=0&NonbankAffiliatesOnly=0&GetFootnotes=Yes&ResultFormat=JSON'

In [17]:
# GDP By Industry
url=f'https://apps.bea.gov/api/data/?&UserID={key}&method=GetData&DataSetName=GDPbyIndustry&Year=2012,2011&Industry=ALL&tableID=1&Frequency=A&ResultFormat=JSON' 
# url='https://apps.bea.gov/api/data/?&UserID=877C205C-C78D-4A39-8C4E-E36B818F3C33&method=GetData&DataSetName=GDPbyIndustry&Year=2012,2011&Industry=ALL&tableID=1&Frequency=A&ResultFormat=JSON'
r=requests.get(url)
d=json.loads(r.text)
GDP_Product=[item for item in d['BEAAPI']['Results'][0]['Data']]
GDP_Product_df=pd.DataFrame(GDP_Product)
GDP_Product_df

,TableID,Frequency,Year,Quarter,Industry,IndustrYDescription,DataValue,NoteRef
0,1,A,2011,2011,11,"Agriculture, forestry, fishing, and hunting",180.9,1
1,1,A,2011,2011,111CA,Farms,152.2,1
2,1,A,2011,2011,113FF,"Forestry, fishing, and related activities",28.7,1
3,1,A,2011,2011,21,Mining,356.3,1
4,1,A,2011,2011,211,Oil and gas extraction,218.1,1
...,...,...,...,...,...,...,...,...
195,1,A,2012,2012,ORE,Other real estate,394.4,1
196,1,A,2012,2012,PGOOD,Private goods-producing industries<sup>1</sup>,3018.8,1;1.1.A
197,1,A,2012,2012,PROF,Professional and business services,1964.7,1
198,1,A,2012,2012,PSERV,Private services-producing industries<sup>2</sup>,11018.7,1;1.2.A
199,1,A,2012,2012,PVT,Private industries,14037.5,1

In [18]:
url=f'https://apps.bea.gov/api/data/?&UserID={key}&method=GetData&DataSetName=GDPbyIndustry&Year=2010&Industry=11&tableID=ALL&Frequency=A,Q&ResultFormat=JSON'           
r=requests.get(url) 
d=json.loads(r.text) 
Ag=[item for item in d['BEAAPI']['Results'][0]['Data']] 
Ag_df=pd.DataFrame(Ag) 
Ag_df

,TableID,Frequency,Year,Quarter,Industry,IndustrYDescription,DataValue,NoteRef
0,1,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",146.3,1
1,1,Q,2010,I,11,"Agriculture, forestry, fishing, and hunting",135.8,1
2,1,Q,2010,II,11,"Agriculture, forestry, fishing, and hunting",141.6,1
3,1,Q,2010,III,11,"Agriculture, forestry, fishing, and hunting",149.5,1
4,1,Q,2010,IV,11,"Agriculture, forestry, fishing, and hunting",158.3,1
...,...,...,...,...,...,...,...,...
180,209,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",269.9,209
181,209,Q,2010,I,11,"Agriculture, forestry, fishing, and hunting",270.0,209
182,209,Q,2010,II,11,"Agriculture, forestry, fishing, and hunting",271.0,209
183,209,Q,2010,III,11,"Agriculture, forestry, fishing, and hunting",269.8,209
184,209,Q,2010,IV,11,"Agriculture, forestry, fishing, and hunting",268.8,209

In [19]:
Ag_year_df=Ag_df[Ag_df['Frequency']=='A'] 
Ag_year_df

,TableID,Frequency,Year,Quarter,Industry,IndustrYDescription,DataValue,NoteRef
0,1,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",146.3,1
5,5,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",1.0,5
10,6,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",146.3,6
11,6,A,2010,2010,11,Compensation of employees,41.4,6
12,6,A,2010,2010,11,Taxes on production and imports less subsidies,-1.5,6
...,...,...,...,...,...,...,...,...
172,40,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",0.01,40
173,41,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",88.879,41
174,42,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",0.02,42
175,208,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",463.7,208
180,209,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",269.9,209

In [20]:
Ag_year_df[0:50]

,TableID,Frequency,Year,Quarter,Industry,IndustrYDescription,DataValue,NoteRef
0,1,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",146.3,1
5,5,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",1.0,5
10,6,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",146.3,6
11,6,A,2010,2010,11,Compensation of employees,41.4,6
12,6,A,2010,2010,11,Taxes on production and imports less subsidies,-1.5,6
13,6,A,2010,2010,11,Gross operating surplus,106.5,6
18,7,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",100.0,7
19,7,A,2010,2010,11,Compensation of employees,28.3,7
20,7,A,2010,2010,11,Taxes on production and imports less subsidies,-1.0,7
21,7,A,2010,2010,11,Gross operating surplus,72.8,7
22,8,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",107.954,8
27,9,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",-3.1,9
32,10,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",193.9,10
37,11,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",75.468,11
42,12,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",16.1,12
47,13,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",-0.03,13
52,14,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",0.14,14
57,15,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",368.8,15
62,16,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",102.453,16
67,17,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",0.4,17
72,18,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",79.537,18
77,19,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",7.9,19
82,20,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",222.5,20
87,21,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",98.842,21
92,22,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",2.6,22
97,23,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",82.455,23
102,24,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",3.0,24
107,25,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",368.8,25
108,25,A,2010,2010,11,Value added,146.3,25
109,25,A,2010,2010,11,Compensation of employees,41.4,25
110,25,A,2010,2010,11,Taxes on production and imports less subsidies,-1.5,25
111,25,A,2010,2010,11,Gross operating surplus,106.5,25
112,25,A,2010,2010,11,Intermediate inputs,222.5,25
113,25,A,2010,2010,11,Energy inputs,13.8,25
114,25,A,2010,2010,11,Materials inputs,142.1,25
115,25,A,2010,2010,11,Purchased-services inputs,66.6,25
128,26,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",100.0,26
129,26,A,2010,2010,11,Value added,39.7,26
130,26,A,2010,2010,11,Compensation of employees,11.2,26
131,26,A,2010,2010,11,Taxes on production and imports less subsidies,-0.4,26
132,26,A,2010,2010,11,Gross operating surplus,28.9,26
133,26,A,2010,2010,11,Intermediate inputs,60.3,26
134,26,A,2010,2010,11,Energy inputs,3.8,26
135,26,A,2010,2010,11,Materials inputs,38.5,26
136,26,A,2010,2010,11,Purchased-services inputs,18.1,26
137,27,A,2010,2010,11,"Agriculture, forestry, fishing, and hunting",0.795,27
138,27,A,2010,2010,11,Value added,0.315,27
139,27,A,2010,2010,11,Intermediate inputs,0.480,27
140,27,A,2010,2010,11,Energy inputs,0.030,27
141,27,A,2010,2010,11,Materials inputs,0.306,27

In [22]:
# Income per capita per state is not a good indicator
income='../Data/Income_By_State.csv'
income_by_state=pd.read_csv(income, header=[4])
income_by_state_df=pd.DataFrame(income_by_state[2:])
income_by_state_df=income_by_state_df[income_by_state_df['LineCode']==2.0]
income_by_state_df.drop(["GeoFips", 'LineCode', 'Description'], axis=1, inplace=True)
income_by_state_df.to_excel('../Data/StateIncome.xlsx')